<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.musicplayer">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:usesCleartextTraffic="true"
        android:name=".ApplicationClass"
        android:allowBackup="true"
        android:icon="@drawable/musical_note"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/musical_note"
        android:supportsRtl="true"
        android:theme="@style/Theme.MusicPlayer">
        <activity android:name=".activity.PlayMusicActivity"></activity>
        <activity android:name=".activity.MainActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".service.MusicService" />
        <receiver
            android:name=".receiver.NotificationReceiver"
            android:enabled="true" />
    </application>

</manifest>